@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Archivo", ui-sans-serif, system-ui, sans-serif;
    --tracking-1: 0em;
    --tracking-2: 0.05em;
}

@layer base {
    html {
        font-family: var(--font-sans);
    }
}
